{
  "all": true,
  "branches": 75,
  "check-coverage": true,
  "extension": [".ts"],
  "exclude": ["src/**/*.d.ts"],
  "functions": 75,
  "include": ["src/**/*.ts"],
  "lines": 75,
  "per-file": false,
  "reporter": [
    "text",
    "text-summary"
  ],
  "statements": 75
}
